<div>
    <app-aircrafts-navbar></app-aircrafts-navbar>

    <div class="d-flex flex-column align-items-center">
        <ng-container *ngIf="aircraftsState$ | async as state" [ngSwitch]="state.dataState">
            <ng-container *ngSwitchCase="aircraftsStateEnum.INITIAL">
                <div class="p-2"> Initial State</div>
            </ng-container>
            <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
                <div class="p-2"> Loading</div>
            </ng-container>
            <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
                <div class="p-2 text-danger"> {{state.errorMessage}}</div>
            </ng-container>

            <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
                <table class="table table-secondary table-planes table-sm container-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PROGRAM</th>
                            <th>DESIGN</th>
                            <th>DEVELOPMENT</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aircraft of state.aircrafts">
                            <td class="id-plane">{{aircraft.id}}</td>
                            <td>{{aircraft.prog}}</td>
                            <td>{{aircraft.design}}</td>
                            <td>{{aircraft.development}}</td>
                            <td class="btn-options"><button type="button" class="btn btn-airbus" *ngIf="!aircraft.development">Options</button></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="countAlertAircfrats$ | async as countAircfrats">
            <div class="alert alert-danger d-flex flex-row align-items-center" role="alert">
                <h6 class="text-danger"> total aircrafts under design & dev : {{countAircfrats}} </h6>
                <!-- dans le h6 : <a href=""><i class="fa fa-solid fa-eye" (click)="toAlert()"></i></a> -->
            </div>
        </ng-container>
    </div>


    <!-- <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Program</th>
            <th>Design</th>
            <th>Development</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aircraft of state.aircrafts">
            <td>{{ aircraft.id }}</td>
            <td>{{ aircraft.prog }}</td>
            <td>{{ aircraft.design }}</td>
            <td>{{ aircraft.development }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-container>
</div>

<div>
  <ng-container *ngIf="countAlertAircfrats$ | async as countAircfrats">
    <h6 class="text-danger">
      total aircrafts under design & dev : {{ countAircfrats }}
    </h6>
  </ng-container>
</div> -->
