<div class="container">
  <h4>Login</h4>
  <form class="col-md-4" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        formControlName="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="pwd"
        formControlName="pwd"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="alert alert-danger mt-2" role="alert">Email or password incorrect !</div>
  </form>
</div>
