<nav
  class="navbar navbar-expand-sm bg-light navbar-light d-flex flex-row justify-content-between"
>
  <div class="d-flex flex-row align-items-center">
    <a class="navbar-brand m-2 color-airbus" href="#">AIRBUS</a>

    <ul class="navbar-nav" *ngIf="isAuth">
      <li class="nav-item">
        <a class="nav-link color-airbus" routerLink="/aircrafts">Aircrafts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-airbus" routerLink="/aircrafts-alert">Alert</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav m-2" *ngIf="isAuth">
    <li class="nav-item">
      <button type="button" (click)="onLogout()">
        <i class="fa fa-sign-out color-airbus" id="deco" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>

<router-outlet> </router-outlet>
