
<nav class = "navbar navbar-expand-sm bg-blue">
    <ul class="navbar-nav">
        <li>
            <button class="btn btn-outline-light m-2 btn-sm" (click)="getAllAircrafts()">Aircrafts</button>    
            <button class="btn btn-outline-light m-2 btn-sm" (click)="getDesignAircrafts()">Design</button>
            <button class="btn btn-outline-light m-2 btn-sm" (click)="getDeveloppementAircrafts()">Development</button>
        </li>
    </ul>    

    <ul class="navbar-nav ms-auto">
        <li>
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline d-flex flex-row">
                   <input type="text" ngModel name ="keyword"> 
                   <button type="submit" class="btn btn-outline-light btn-sm"> 
                    <i class="fa fa-search"></i> 
                    </button>
            </form>
        </li>
    </ul>
</nav>